/* * ---------------------------------------------- Main Containers */
#projects-overview {
  padding: 0em 2em;
}
#sec-projects {
  /* Display */
  display: flex;
  text-align: center;

  /* Sizing */
  padding: 5em 0;
  padding-bottom: 1em;

  /* Appearance */
  
}
#projects-container {
  /* Display */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2em;
  text-align: center;

  /* Spacing */
  padding-top: 4em;
  padding-bottom: 1em;

  /* Appearance */
  border-radius: 0.5em;
  
}

/* * ---------------------------------------------- Graphics for each section */
#pa-music {
  background-image:
    linear-gradient(45deg, rgba(97, 0, 15, 0.75), rgba(52, 0, 35, 0.8)),
    url('../../images/content/proj-bg-music.jpg') 
}
#pa-games {
  background-image:
    linear-gradient(45deg, rgba(71, 0, 11, 0.5), rgb(18, 0, 15)),
    url('../../images/content//about-img3.jpg') 
}
#pa-art {
  background-image:
    linear-gradient(45deg, rgba(61, 0, 9, 0.5), rgba(41, 0, 26, 0.8)),
    url('../../images/content//about-img2.jpg') 
}

.project-pic {
  /* Size */
  max-width: 40em;
  width: 100%;
  height: auto;

  /* Appearance */
  border-radius: 0.5em;

  /* Spacing */
  margin-top: 2em;

  /* Rotation */
  transform-origin: center;

  /* Other */
  transition: all 0.5s;
  transition-timing-function: ease;
  box-shadow: 0px 1px 4px rgb(11, 0, 4);
}
.project-pic:hover {
  transform: rotate3d(0, 5, -1, 35deg);
}

.project-visuals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.project-desc {
  padding: 2em;
}

/* * ---------------------------------------------- Project Slides */
.software-used {
  font-style: italic;
  margin-bottom: 1em;
  opacity: 0.75;
}
.project-article {
  /* Display */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  /* Spacing & Sizing */
  height: 100%;
  padding-right: 2em;
  padding-left: 2em;
  padding-top: 4em;
  padding-bottom: 6em;
  
  /* Appearance */
  background-size: cover;
  background-image:
    linear-gradient(45deg, rgba(137, 0, 43, 0.75), rgba(40, 0, 21, 0.5)),
    url('../../images/environment/tex-wavy.png');
  color: var(--colWhite);
  box-shadow: 0px 2px 2px rgba(46, 0, 37, 0.5);

  position: relative;
}

/* Text */
.project-article h3 {
  margin-top: 1em;
}
.project-article h3, .project-article p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

/* * ---------------------------------------------- Buttons to Project Sites */
.project-btn {
  /* Appearance */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.5em;
  background-size: cover;
  position: relative;

  /* Colors */
  border-style: solid;
  border-color: var(--colWhite);
  border-width: 1px;
  background-color: var(--colAccent);
  color: var(--colWhite);

  /* Spacing */
  margin-top: 1em;
  padding: 0.25em 0.5em;

  /* Animation */
  cursor: pointer;
  transition: all 0.1s;
  transition-timing-function: ease;
}
.project-btn:hover {
  scale: 110%;
}
.project-btn:active {
  scale: 95%;
  opacity: 0.8;
}
.project-btn img {
  position: relative;
  top: 1px;
  filter: invert(100%);
  width: 1em;
  margin-right: 0.5em;
}