/* Contact Section */
#sec-contact {
    /* Display */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    /* Spacing */
    margin: 2em;
    gap: 2em;
    padding: 2em;
}

/* Description */
#contact-desc {
    /* Display */
    display: flex;
    flex-direction: column;
    text-align: left;
}
#contact-desc * {
    /* Spacing */
    margin-bottom: 0.5em;
}
#contact-desc div {
    display: flex;
    justify-content: left;
    align-items: center;
    font-style: italic;
}
#contact-desc div img {
    height: 1.5em;
    filter: invert(30%) sepia(97%) saturate(519%) hue-rotate(300deg) brightness(95%) contrast(95%);
}

/* Form */
#contact-form {
    /* Display */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    /* Appearance */
    border-radius: 0.5em;
    box-shadow: 0px 2px 4px rgba(51, 0, 22, 0.5);
}
.form-element {
    /* Display */
    display: flex;
    align-items: left;
    text-align: left;
    flex-direction: column;

    /* Sizing */
    width: 100%;

    /* Spacing */
    margin: 0.5em 0;
}
.form-label {
    margin-bottom: 0.5em;
}
.form-input {
    /* Appearance */
    padding: 0.25em 0.5em;
    border-style: none;
    border-radius: 0.25em;
    box-shadow: 0px 2px 2px rgba(97, 0, 47, 0.25);

    /* Animation */
    transition: all 0.05s;
    transition-timing-function: ease;
}
.form-input::placeholder {
    /* Font Size */
    font-size: 0.85em;
}
.form-input:focus {
    outline-style: solid;
    outline-width: 3px;
    outline-color: var(--colAccent);
    box-shadow: 0px 4px 8px rgba(97, 0, 47, 1);
}

/* Submit Button */
#form-button {
    /* Appearance */
    color: var(--colWhite);
    background-color: var(--colAccent);
    border-radius: 0.5em;
    box-shadow: 0px 2px 4px rgba(72, 0, 43, 0.5);

    /* Spacing */
    margin-top: 0.5em;
    padding: 0.25em 0.5em;

    /* Animation */
    cursor: pointer;
    transition: all 0.1s;
    transition-timing-function: ease;
}
#form-button:hover {
    scale: 110%;
}
#form-button:active {
    scale: 90%;
    opacity: 0.8;
}

/* Other */
.contact-part {
    /* Spacing */
    width: 100%;
    height: auto;
    padding: 2em;
}