#sec-aboutme {
    /* Appearance */
    color: var(--colAccent);
    background-size: cover;

    /* Sizing */
    padding: 12em 2em;

    /* Display */
    text-align: left;
}
#aboutme-header {
    margin-bottom: 0.25em;
}
.aboutme-caption {
    margin-top: 0.5em;
    opacity: 0.75;
}

.aboutme-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#aboutme-images {
    align-items: center;
}
#aboutme-images img {
    filter: invert(30%) sepia(97%) saturate(519%) hue-rotate(300deg) brightness(95%) contrast(95%);
    width: 8em;
    height: 8em;
}

/* #sec-aboutme img {
    width: 100%;
    height: auto;
    border-style: solid;
    border-radius: 0.5em;
}

#aboutme-img {
    text-align: center;
}
#aboutme-img img {
    margin-top: 1em;
    border: none;
    box-shadow: 2px 4px 1px rgba(56, 0, 42, 0.5);
    width: 90%;
    max-width: 550px;
}
#aboutme-img p {
    font-style: italic;
    opacity: 0.5;
    scale: 90%;
} */